.User {
    width: 100%;
    margin: 0px auto 15px;
    border: 1px solid rgb(231, 199, 199);
    box-shadow: 0 2px 3px rgb(235, 231, 9);
    padding: 16px;
    text-align: center;
    height: 140px;
}

.Info {
    margin: auto;
}